<h1>Workout Tracker</h1>

<form action="/" method="post">
    <fieldset>
        <legend>Log New Exercise</legend>
        <label for="name">Exercise Name:</label>
        <input type="text" id="name" name="name">
        <label for="reps">Reps:</label>
        <input type="number" id="reps" name="reps">
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight">
        <label for="units">Units:</label>
        <select id="units" name="units">
            <option value="lbs">lbs</option>
            <option value="kgs">kgs</option>
        </select>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <input type="hidden" name="buttonStatus" value="new">
        <button type="submit" id="newExercise">Submit</button>
    </fieldset>
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Units</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="workoutList">
        {{#each table}}
        <tr id={{this.id}}>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{#if this.lbs}}lbs{{else}}kgs{{/if}}</td>
            <td>{{this.date}}</td>
            <td>
                <form action="/edit" method="post">
                    <input type="hidden" name="buttonStatus" value="edit">
                    <input type="hidden" name="editID" value={{this.id}}>
                    <button type="submit" class="editButton" id="edit{{this.id}}">Edit</button>
                </form></td>
            <td>
                <form>
                    <input type="hidden" name="buttonStatus" value="delete">
                    <input type="hidden" name="deleteID" value={{this.id}}>
                    <button type="submit" class="deleteButton" id="delete{{this.id}}">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="/reset-table" method="get">
    <button type="submit">Reset Table</button>
</form>

